df-messenger {
  z-index: 999;
  position: fixed;
  bottom: 16px;
  right: 16px;

  --df-messenger-font-color: #252728;
  --df-messenger-font-family: Google Sans;

  /* --df-messenger-default-font-family: Google Sans; */

  --df-messenger-primary-color: #252728;

  --df-messenger-titlebar-background: #ffc836;
  --df-messenger-titlebar-font-color: #252728;
  --df-messenger-titlebar-icon-font-color: #252728;

  --df-messenger-chat-bubble-icon-color: #252728;
  --df-messenger-chat-bubble-background: #ffc836;
  --df-messenger-chat-bubble-border-radius: 32px;
  --df-messenger-chat-bubble-border: 5px solid #fff6e9;

  --df-messenger-chat-background: #f1f1f1;

  --df-messenger-message-bot-background: #ffc836;
  --df-messenger-message-user-background: #ffebb5;

  --df-messenger-chat-scroll-button-background: #ffc836;
  --df-messenger-chat-scroll-button-font-color: #252728;

  /* --df-messenger-chat-border: 0px solid #252728;

  --df-messenger-messagelist-border: 0px solid #252728; */
}
